h1 {
    border: 2px #eee solid;
    color: rgb(42, 165, 114);
    text-align: center;
    padding: 10px;
}

body {
    background: rgb(0, 191, 255);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: yellow;
}

.center {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    line-height: 25px;
}