<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Nourish Campus - AU</title>
</head>
<body>
   <h1>Welcome to Nourish Campus - AU</h1>
    <p style="text-align: center"><a href="/restaurant" class="button">Dining Venues </button></a></p>
    <p style="text-align: center"><a href="/menu_item" class="button">Menu</a></p>
    <p style="text-align: center"><a href="/customer" class="button">Register/Login</a></p>
    <p style="text-align: center"><a href="/order" class="button">Order Info</a></p>
    <p style="text-align: center"><a href="/order_item" class="button">Ordered Items</a></p>
    <p style="text-align: center"><a href="/food_delivery" class="button">My Account</a></p>
</body>
<div data-role="footer" data-position="fixed">
    <div class="adsspace"><img id="myads" src="https://www.nzfssrc.org.nz/assets/news-folder/forks_and_foods_footer.jpg"
        width = 2000
        height = 350/></div>
   </div>
</html>