<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Nourish Campus - AU</title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>

    <div style="display:none;" id="myDiv" class="animate-bottom">
      <h1>Welcome to Nourish Campus - AU</h1>
      <p style="text-align: center"><a href="/restaurant" class="button margin-auto">Dining Venues </button></a></p>
      <p style="text-align: center"><a href="/customer" class="button margin-auto">Register/Login</a></p>
      <p style="text-align: center"><a href="/order" class="button margin-auto">Order Info</a></p>
      <p style="text-align: center"><a href="/order_item" class="button margin-auto">Ordered Items</a></p>
      <p style="text-align: center"><a href="/food_delivery" class="button margin-auto">My Account</a></p>
      <p style="text-align: center"><a href="/help" class="button margin-auto">Help</a></p>
    </div>
    <div data-role="footer" data-position="fixed">
      <div class="adsspace"><img id="myads" src="https://www.nzfssrc.org.nz/assets/news-folder/forks_and_foods_footer.jpg"
          width=2000 height=350 /></div>
    </div>
<script>
    var myVar;
    
    function myFunction() {
      myVar = setTimeout(showPage, 3);
    }
    
    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("myDiv").style.display = "block";
    }
</script>
</body>
</html>