<p>You are not logged in. Please sign up or login.</p>
<p>Sign up</p>
<form method="POST" action="">
    <pre>
    {{ register_form.hidden_tag() }}
    Name:     {{ register_form.name() }}
    Email:    {{ register_form.email() }}
    Password: {{ register_form.password() }} Confirm Password: {{ register_form.confirm_password() }}

    Daily Calories Goal:     {{ register_form.daily_calories_goal( placeholder = "5000") }} 
    Per Meal Calories Limit: {{ register_form.per_meal_calories_limit( placeholder = "2000") }}
    {{ register_form.submit() }}
    </pre>
</form>
<p>Login</p>
<form method="POST" action="">
    <pre>
    {{ login_form.hidden_tag() }}
    Email:    {{ login_form.email() }}
    Password: {{ login_form.password() }}
    {{ login_form.submit() }}
    </pre>
</form>