{% extends 'base.html' %}

{% block head %}
<title>Customer Info</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">{{customer.name}}</h1>

    <h2>My Info</h2>
    <p>
        daily_calories_goal = {{customer.daily_calories_goal}}
        <br>
        per_meal_calories_limit = {{customer.per_meal_calories_limit}}
        <br>
        total calories consumed today = {{totalCalories}}
    </p>
    
    <h2>Today's Ordered Meals</h2>
    <ol>
        {% for orderId, menuItems in menuItemsByOrderId.items() %}
        <li>Meal order: orderId = {{orderId}}
            <ul>
                <table class="left">
                    <tr>
                        <th>name</th>
                        <th>calories</th>
                        <th>restaurant</th>
                    </tr>
                    {% for menuItem in menuItems %}
                    <tr>
                        <td>{{ menuItem.name }}</td>
                        <td>{{ menuItem.calories }}</td>
                        <td>{{ menuItem.restaurant_id }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </ul>
        </li>
        {% endfor %}
    </ol>

    <h2>Suggested Meal</h2>
    {% if suggestedMeal|length < 1 %} <h4>There is no suggested meal.</h4>
    {% else %}
        <ul>
            <table class="left">
                <tr>
                    <th>name</th>
                    <th>calories</th>
                    <th>restaurant</th>
                </tr>
                {% for menuItem in suggestedMeal %}
                <tr>
                    <td>{{ menuItem.name }}</td>
                    <td>{{ menuItem.calories }}</td>
                    <td>{{ menuItem.restaurant_id }}</td>
                </tr>
                {% endfor %}
            </table>  
        </ul>
        <p><a href="/food_delivery/order/?customer={{customer.id}}&{{suggestedMealQueryString}}">Order the meal</a></p>
        <p><a href="/food_delivery/customer">Suggest a meal again</a></p>
    {% endif %}
    <p><a href="/">Back to Home</a></p>
</div>
{% endblock %}
